<div class="new_box">

  <div class="new_main_contents">
    <h6>投稿を編集</h6>
    <div class="new_part_1">

      <%= form_for(@house,url:{controller:'houses',action:'update'}) do |f| %>
        <!-- <div class="field">
          <%= f.label :address, "都道府県" %><br>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %>
        </div> -->
        <div class="field",id="pref_id">
          <%# <%= f.label :address, "都道府県" ,class:'new_form'%>
          <%= f.hidden_field :prefecture_id, include_blank: '選択して下さい' %>
        </div>
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name ,:placeholder => "名前"%>
        </div>
        <div class="field">
           <%= f.label :price %><br>
           <%= f.number_field :price ,:placeholder => "価格"  %>万円
        </div>
        <div class="field">
           <%= f.label :'間取り',class:'new_form' %><br>
           <%= f.text_field :madori ,:placeholder => "”例、3LDK”"  %>万円
        </div>
        <div class="field">
           <%= f.label :'築年数',class:'new_form' %><br>
           <%= f.text_field :house_age ,:placeholder => "”年”"  ,required:true%>年
        </div>
        <%= f.fields_for :images do |i| %>
          <p>空き家の写真を追加</p>
          <div class="img_post_box">
            <div class="img_post1" onClick="$('#img_file1').click()">
              <%if @images[0].image1.present? %>
                <img src="<%=@images[0].image1%>",width="100%",class="preview">
              <%else%>
                    ➕画像を選択
              <%end%>
            </div>
            <div class="img_post2" onClick="$('#img_file2').click()">
              <%if @images[0].image2.present? %>
                <img src="<%=@images[0].image2%>",width="100%",class="preview">
              <%else%>
                    ➕画像を選択
              <%end%>
            </div>
            <div class="img_post3" onClick="$('#img_file3').click()">
              <%if @images[0].image3.present? %>
                <img src="<%=@images[0].image3%>",width="100%",class="preview">
              <%else%>
                    ➕画像を選択
              <%end%>
            </div>
            <div class="img_post4" onClick="$('#img_file4').click()">
              <%if @images[0].image4.present? %>
                <img src="<%=@images[0].image4%>",width="100%",class="preview">
              <%else%>
                    ➕画像を選択
              <%end%>
             </div>
            <div class="img_post5" onClick="$('#img_file5').click()">
              <%if @images[0].image5.present? %>
                <img src="<%=@images[0].image5%>",width="100%",class="preview">
              <%else%>
                    ➕画像を選択
              <%end%>
            </div>
          </div>
            <div class="field" id="form_image">
              <% i.label :image1 %>
              <%= i.file_field :image1 ,id:"img_file1",style:"display:none"%>
            </div>
            <div class="field" id="form_image">
              <% i.label :image2 %>
              <%= i.file_field :image2 ,id:"img_file2",style:"display:none"%>
            </div>
            <div class="field" id="form_image">
              <% i.label :image3 %>
              <%= i.file_field :image3 ,id:"img_file3",style:"display:none"%>
            </div>
            <div class="field" id="form_image">
              <% i.label :image4 %>
              <%= i.file_field :image4 ,id:"img_file4",style:"display:none"%>
            </div>
            <div class="field" id="form_image">
              <% i.label :image5 %>
              <%= i.file_field :image5 ,id:"img_file5",style:"display:none"%>
            </div>
          <% end %>
    </div>

    <div class="new_part_2">
      <h5>空き家の所在地を入力</h5>
        <%= f.fields_for :addresses do |a| %>
          <p>郵便番号を入力(町名まで自動入力されます)</p>
          <%= a.text_field :postcode, class:'new_form_input' %>
          <p>都道府県</p>
          <%= a.text_field :prefecture_code, collection: JpPrefecture::Prefecture.all, :value_method => :name, include_blank: '都道府県' %><br>
          <p>市区町村</p>
          <%= a.text_field :address_city %>
          <p>町名</p>
          <%= a.text_field :address_street %>
          <p>続きを入力</p>
          <%= a.text_field :address_building %>
          <% end %>

      <div class="actions">
        <%= f.submit "登録する" %>
      </div>
  <% end %>

    </div>
  </div>
</div>
