
<div class="sidebar_contents">
  <!-- <p>検索</p> -->
  <!-- <div class= total_house_count>
    <p>投稿された空き家の数</p>
    <h5><%= @all_houses.length %>件</h5>
    <

  </div> -->
  <div class="sidebar_form">

    <!-- <br> -->
    <%= link_to "全てから選ぶ","/houses",method: :get ,class:"all_search"%>
    <!-- <p class="input">検索</p> -->
    <%= form_for(@house,url:search_searches_path, method:'get') do |f| %>
      <%= f.label :エリアから選ぶ, class:"form_text" %>
      <%= f.select :prefecture_id, [["北海道",0],["東北エリア",1],["関東エリア",7],["中部エリア",14],["関西エリア",25],["中国エリア",32],["四国エリア",35],["九州、沖縄エリア",46]],prompt: '選択して下さい' %>
      <%= f.submit "検索" ,class:'side_submit'%>
    <% end %>
    <p></p><br><br>
    <%= form_for(@house,url:search_prefectures_path, method:'get') do |f| %>
      <%= f.label :都道府県から選ぶ, class:"form_text" %>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <div class="user_info">
    <p> ユーザー情報  </p>
    <p>名前:<%=current_user.name%></p>
    <!-- <p>年齢:<%=current_user.age%></p> -->
    <!-- <p>投稿した空き家の数:<%=current_user.houses.length%></p> -->
    <p>お気に入りの空き家の数:<%=current_user.favorites.length%></p>
    <p><a href="/users/edit">ユーザー情報の変更</a></p>
  </div>
  <% end %>
</div>
<div class="main_contents">

  <h5 class="text"><a href="/houses">全ての空き家一覧 ></a></h5>
  <% @houses.each do |house| %>
  <div class="mypost_house">
    <p class="house_name"><a href="/houses/<%=house.id%>"><%= house.name %></a></p>
    <div class="house_image_box">
      <div class="house_image_list">
        <% if house.images.present? %>
        <% else %>
          <p class="not_image"><%= "画像はありません" %></p>
        <% end %>
        <% house.images.each do |image| %>
            <a href="/houses/<%=house.id%>">
              <% if image.image1.present? %>
                <img src="<%=image.image1.url %>" width="50" height="50" class="house_image">
              <% else %>
                <p class="not_image"><%= "画像はありません" %></p>
              <% end %>
              <% if image.image2.present? %>
                 <img src="<%=image.image2.url %>" width="50" height="50" class="house_image">
              <% end %>
              <% if image.image3.present? %>
                 <img src="<%=image.image3.url %>" width="50" height="50" class="house_image">
              <% end %>
            </a>
        <% end %>
      </div>
    </div>
      <%if user_signed_in? %>
        <% if !Favorite.exists?(user_id:current_user.id,house_id:house.id)%>
          <%= link_to "お気に入りに追加","/houses/#{house.id}/add",method: :post ,class:"favorite_btn"%>
        <% else %>
          <%= link_to "お気に入り解除","/houses/#{house.id}/add",method: :delete ,class:"favorite_btn" %>
        <% end %>
      <% end %>

    <div class="detail_btn">
      <a href="/houses/<%=house.id%>">詳細</a>
    </div>

    <table class=house_list>
      <%if house.addresses.find_by(house_id:house.id).present?%>
        <%@address = house.addresses.find_by(house_id:house.id)%>
      <%end%>
      <tr>
        <th>価格</th><th>間取り</th><th>所在地</th>
      </tr>
        <td><%= house.price %>万円</td><td><%= house.madori %></td><td><%=house.prefecture.name %><%if @address%><%=@address.address_city%><%end%></td>
      <tr>
      </tr>
    </table>
  </div>

  <% end %>
  <%= paginate @houses %>
  </div>
  <!-- <div class="adv_contents">
    <span>広告いれたい</span>
    <div class="inaka_photo">
      <img src="https://spi-ra.jp/wp-content/uploads/2019/06/38477617_m-1080x380.jpg" class="photo_image">
    </div>
    <div class="inaka_photo2">
      <img src="https://spi-ra.jp/wp-content/uploads/2019/06/38477617_m-1080x380.jpg" class="photo_image">
    </div>
    <div class="index_box">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQChRe6l5ne8y8iGvnMfRVeqZ4wM_k-149EyCyrZloJErOnKjuI&s" class="photo_image">
    </div>

    <div class="inaka_photo3">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRDn22k1gnZEv-PqacNgWQriSz5cvzHrAJ_arWH0zzBCRIBY4X9" class="photo_image">
    </div>
  </div> -->
