<div class="sidebar_contents">
<p>heloo my page</p>
</div>
<div class="main_contents">
<p>空き家を投稿する</p>

都道府県、市区町村選択追加
<%= form_for [@house] do |f| %>
  <div class="field">
    <%= f.label :address, "都道府県" %><br>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %>
  </div>
  <div class="field">
    <%= f.label :'家の名前' %><br>
    <%= f.text_field :name ,:placeholder => "名前" %>
  </div>
  <div class="field">
     <%= f.label :'家の価格' %><br>
     <%= f.number_field :price ,:placeholder => "価格"  %>万円
  </div>
  <div class="field">
     <%= f.label :'間取り' %><br>
     <%= f.text_field :madori ,:placeholder => "”例、3LDK”"  %>万円
  </div>

  <%= f.fields_for :images do |i| %>
    画像を選択してください
    <div class="field">
      <% i.label :image1 %>
      <%= i.file_field :image1 %>
    </div>
    <div class="field">
      <% i.label :image2 %>
      <%= i.file_field :image2 %>
    </div>
    <div class="field">
      <% i.label :image3 %>
      <%= i.file_field :image3 %>
    </div>
    <div class="field">
      <% i.label :image4 %>
      <%= i.file_field :image4 %>
    </div>
    <div class="field">
      <% i.label :image5 %>
      <%= i.file_field :image5 %>
    </div>
    <% end %>
  <div class="actions">
  <%= f.submit "登録する" %>
  </div>
<% end %>

</div>
