<div class="sidebar_contents">
  <div class="mail_box">
    <h5><%=link_to'メールボックス',"/users/#{current_user.id}/mails"%></h5>
    <div class="receive_box">

      <p><a href="/users/<%=current_user.id%>/mails"> <%= image_tag 'mail.png' %> 受信箱</a></p>
      <% if @new_mail%>
        <%@new_mail.each do |m|%>
          <% if  m.open_num == 0 %>
            <div class="link">
              <h5><a href="/users/<%=current_user.id%>/mails">新着:<%= m.tittle%></a></h5>
            </div>
          <%end%>
        <%end%>
      <% end %>

    </div>
    <div class="sending_box">
      <p><a href="/users/<%=current_user.id%>/mails"><%= image_tag 'mail.png' %> 送信箱</a></p>
    </div>
  </div>
  <div class="user_show_info">
    <p> ユーザー情報  </p>

    <p>名前:<%=current_user.name%></p>
    <!-- <p>年齢:<%=current_user.age%></p> -->
    <p>投稿した空き家の数:<%=current_user.houses.length%></p>
    <p>お気に入りの空き家の数:<%=current_user.favorites.length%></p>
    <p>ユーザー情報の変更</p>
  </div>
  <h5><%= link_to '→ お気に入りの空き家をみる',"/users/#{current_user.id}/favorites", class:'get' %></h5>
  <h5><%= link_to '→ 空き家を投稿する',new_house_path, class:'get' %> </h5>
</div>
<div class="my_mail_box">
  <div class="my_mail_tab_box">

    <%if @new_mail.empty? %>
      <input id="tab_01" type="radio" name="tab" class="tab_switch" /><label class="tab_label" for="tab_01" >新着ボックス</label>
      <input id="tab_02" type="radio" name="tab" class="tab_switch" checked="checked" /><label class="tab_label" for="tab_02" checked="checked">受信ボックス</label>
      <input id="tab_03" type="radio" name="tab" class="tab_switch" /><label class="tab_label" for="tab_03">送信ボックス</label>
    <% else %>
      <input id="tab_01" type="radio" name="tab" class="tab_switch" checked="checked" /><label class="tab_label" for="tab_01" checked="checked">新着ボックス</label>
      <input id="tab_02" type="radio" name="tab" class="tab_switch" /><label class="tab_label" for="tab_02">受信ボックス</label>
      <input id="tab_03" type="radio" name="tab" class="tab_switch" /><label class="tab_label" for="tab_03">送信ボックス</label>
    <% end %>




    <div class="my_receiving_box" id="tab_01_content">
      <p class="mail_box_tittle">新着メッセージ</p>

      <% if @receive_mails %>
        <% num = 0 %>
        <% @receive_mails.each do |mail| %>
          <div class="mail_text_box">
          <% @user=User.find(mail.user_id) %>
          <% if mail.to_user_id == current_user.id && mail.open_num == 0 %>
            <h5><%=image_tag 'mail.png'%> <%= link_to "#{mail.tittle}","/houses/#{mail.house_id}/mails/#{mail.id}"%> &emsp; from:<%= @user.name%></h5>
            <%num+=1%>
          <%end%>
          </div>
        <%end%>
        <%if num == 0 %>
          <h5>新着メッセージはありません</h5>
        <%end%>
      <% else %>
        <h5>新着メッセージはありません</h5>
      <%end%>

      <%=paginate @new_mail,class:"page"%>
    </div>

    <div class="my_receiving_box" id="tab_02_content">
        <p class="mail_box_tittle">受信メッセージ</p>

      <% if @receive_mails%>
        <% @receive_mails.each do |mail| %>
            <% @user=User.find(mail.user_id) %>
            <h5><%=image_tag 'mail.png'%>&nbsp;<%= link_to "#{mail.tittle}","/houses/#{mail.house_id}/mails/#{mail.id}"%>&emsp; &nbsp; from:<%= @user.name%></h5>
        <%end%>
      <% else %>
         <h5>受信メッセージはありません</h5>
      <%end%>
    <%=paginate @receive_mails,class:"page"%>
    </div>

    <div class="my_receiving_box" id="tab_03_content">
          <p class="mail_box_tittle">送信メッセージ</p>

      <% if @send_mails.present? %>
        <% @send_mails.each do |mail| %>
            <div class="mail_text_box">
              <% @user=User.find(mail.to_user_id) %>
              <h5><a href="/houses/<%=mail.house_id%>/mails/<%=mail.id%>"><%=image_tag 'mail.png'%>&nbsp;<%=mail.tittle%>&emsp; &nbsp; to:<%= @user.name%></a></h5>
            </div>
        <%end%>
      <%end%>
    <%=paginate @send_mails,class:"page"%>
    </div>

  </div>


</div>
  </div>
