<div class="sidebar_contents">
  <div class="mail_box">
    <h5><%=link_to'メールボックス',"/users/#{current_user.id}/mails"%></h5>
    <div class="receive_box">
      <p><a href="/users/<%=current_user.id%>/mails"> <%= image_tag 'mail.png' %>受信箱</a></p>
        <% if @new_mail %>
          <% @new_mail.each do |m|%>
            <div class="link">


            <h5><a href="/users/<%=current_user.id%>/mails">新着:<%= m.tittle%></a></h5>
            </div>
          <%end%>
        <%end%>

    </div>
    <div class="sending_box">
      <p><a href="/users/<%=current_user.id%>/mails"> <%= image_tag 'mail.png' %>送信箱</a></p>
    </div>
  </div>
  <div class="user_show_info">
    <p> ユーザー情報  </p>
    <p>名前:<%=current_user.name%></p>
    <!-- <p>年齢:<%=current_user.age%></p> -->
    <p>投稿した空き家の数:<%=current_user.houses.length%></p>
    <p>お気に入りの空き家の数:<%=current_user.favorites.length%></p>
    <p>ユーザー情報の変更</p>
  </div>
  <h5><%= link_to '→ お気に入りの空き家をみる',"/users/#{current_user.id}/favorites", class:'get' %></h5>
  <h5><%= link_to '→ 空き家を投稿する',new_house_path, class:'get' %> </h5>
</div>
<div class="mail_new_box">
  <div class="mail_box_1">
    <h6 class="mail_title">メッセージフォーム</h6>
    <div class="mail_form">
      <%if current_user.id != @house.user_id %>
        <h5>オーナーの "<%=@house.user.name%>" さんへメッセージを送りましょう</h5>
      <% else %>
        <h5>返信フォーム</h5>

        <h5> "<%=@from_user.name%>" さんへメッセージを返信</h5>
      <%end%>

      <%= form_for @mail,url:house_mails_path,method:"post" do |f| %>
        <% if current_user.id == @house.user.id %>
          <%= f.hidden_field :to_user_id ,value: @from_user.id %>
          <%= f.hidden_field :open_num ,value: 0 %>
          <div class="field">
            <h5><%=f.label :'タイトル', class:'mail_form_title'%></h5>
            <%= f.text_field :tittle,value:"Re:" ,class:"mail_new_tittle" %>
          </div>
        <% else %>
          <%= f.hidden_field :to_user_id ,value: @house.user.id %>
          <%= f.hidden_field :open_num ,value: 0 %>
          <div class="field">
            <h5><%=f.label :'タイトル', class:'mail_form_title'%></h5>
            <%= f.text_field :tittle,class:"mail_new_tittle" %>
          </div>
        <% end %>
        <div class="field">
          <h5> <%=f.label :'本文'%></h5>
          <%= f.text_area :text,class:'mail_text' %>
        </div>
        <div class="field">

          <%= f.submit "送信"%>
        </div>
      <%end%>



    </div>



  </div>
</div>
