<div class="sidebar_contents">
  <div class="mail_box">
    <h5><%=link_to'メールボックス',"/users/#{current_user.id}/mails"%></h5>
    <div class="receive_box">
      <p><a href="/users/<%=current_user.id%>/mails"><%= image_tag 'mail.png' %> 受信箱</a></p>
        <% if @new_mail %>
          <% @new_mail.each do |m|%>
            <h5>新着:<%= m.tittle%></h5>
          <%end%>
        <%end%>
    </div>
    <div class="sending_box">
      <p><a href="/users/<%=current_user.id%>/mails"><%= image_tag 'mail.png' %> 送信箱</a></p>
    </div>
  </div>
  <div class="user_show_info">
    <p> ユーザー情報  </p>
    <p>名前:<%=current_user.name%></p>
    <!-- <p>年齢:<%=current_user.age%></p> -->
    <p>投稿した空き家の数:<%=current_user.houses.length%></p>
    <p>お気に入りの空き家の数:<%=current_user.favorites.length%></p>
    <p>ユーザー情報の変更</p>
  </div>
  <h5><%= link_to '→ お気に入りの空き家をみる',"/users/#{current_user.id}/favorites", class:'get' %></h5>
  <h5><%= link_to '→ 空き家を投稿する',new_house_path, class:'get' %> </h5>
</div>
<div class="my_show_mail_box">
    <div class="my_mail_show">
      <h5 class="my_mail_show_tittle">タイトル:<%=@mail.tittle%></h5>
      <%if current_user.id == @mail.to_user_id %>
        <h5 class="my_mail_show_tittle"> from:<%=@from_user.name%> さん</h5>
      <%else%>
        <h5 class="my_mail_show_tittle"> to:<%=@to_user.name%> さん</h5>
      <% end %>
        <h5 class="my_mail_show_text" >本文:<%=@mail.text%></h5>
        <h5 class="my_mail_show_time" ><%=@mail.created_at.strftime("%Y年%-m月%-d日 %H:%M:%S")%></h5>
    </div>
  <% if current_user.id != @mail.user_id%>
  <div class="reply_btn">
    <!-- <h5><%= link_to "返信する" ,"/houses/#{@mail.house_id}/mails/new",:controller => 'mails',:action =>'new',user_id:@mail.user_id%></h5> -->
    <h5><%= link_to '返信する', new_house_mail_path(:house_id => @mail.house_id, :id => @mail.user_id) %></h5>
  </div>
  <%end%>
  <div class="back_btn">
    <!-- <h5><%= link_to "返信する" ,"/houses/#{@mail.house_id}/mails/new",:controller => 'mails',:action =>'new',user_id:@mail.user_id%></h5> -->
    <h5><%= link_to '戻る', "/users/#{current_user.id}/mails" %></h5>
  </div>
</div>
