<div class="sidebar_contents">
<p>heloo my page</p>
</div>
<div class="main_contents">
  <p class="my_post_title">投稿した空き家</p>
     <% @favorites.each do |favorite| %>
     <div class="mypost_house">
       <p>家の名前 <%= favorite.house.name %></p>
       <p>家の価格 <%= house.price %>円</p>
       <!-- <p>家の写真</p> -->
         <% house.images.each do |image| %>
           <% if image.image1.present? %>
              <img src="<%=image.image1.url %>" width="50" height="50" class="house_image">
           <% end %>
           <% if image.image2.present? %>
              <img src="<%=image.image2.url %>" width="50" height="50" class="house_image">
           <% end %>
           <% if image.image3.present? %>
              <img src="<%=image.image1.url %>" width="50" height="50" class="house_image">
           <% end %>
           <% if image.image4.present? %>
              <img src="<%=image.image1.url %>" width="50" height="50" class="house_image">
           <% end %>
           <% if image.image5.present? %>
              <img src="<%=image.image1.url %>" width="50" height="50" class="house_image">
         <% end %>
         <p><%= link_to '投稿を削除', "/houses/#{house.id}", method: :delete ,class:'delete'%></p>
         <p><%= link_to '投稿を編集',edit_house_path, class:'post_house' %></p>
       <% end %>
     </div>
     <% end %>
  <%= paginate @houses %>
  <p>＠お気に入りの空き家一覧</p>
  <p><%= link_to '@空き家を投稿する',new_house_path, class:'get' %> </p>
  </div>

  <div class="inaka_photo">
  <img src="https://spi-ra.jp/wp-content/uploads/2019/06/38477617_m-1080x380.jpg" class="photo_image">
  </div>

  <div class="inaka_photo2">
  <img src="https://spi-ra.jp/wp-content/uploads/2019/06/38477617_m-1080x380.jpg" class="photo_image">
  </div>

  <div class="index_box">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQChRe6l5ne8y8iGvnMfRVeqZ4wM_k-149EyCyrZloJErOnKjuI&s" class="photo_image">
  </div>
