<div class="sidebar_contents">
  <div class="mail_box">


    <h5 class="mail_box_tittle"><%=link_to'メールボックス',"/users/#{current_user.id}/messages"%></h5>
    <div class="receive_box">
      <p><a href="/users/<%=current_user.id%>/messages"> <%= image_tag 'mail.png' %> 受信箱</a></p>
      <% if @receive_mails %>
        <%@receive_mails.each do |m|%>
          <% if m.open_num == 0 %>
            <div class="link">
              <h5><a href="/users/<%=current_user.id%>/messages">新着:<%= m.tittle%></a></h5>
            </div>
          <%end%>
        <%end%>
      <% end %>
    </div>
    <div class="sending_box">
      <p><%= image_tag 'mail.png' %><%=link_to ' 送信箱', user_messages_path(user_id:current_user.id,request:1 )%> </p>
    </div>
  </div>
  <div class="user_show_info">
    <p class="mail_box_tittle"> ユーザー情報  </p>
    <p>名前:<%=current_user.name%></p>
    <p>投稿した空き家の数:<%=current_user.houses.length%></p>
    <p>お気に入りの空き家の数:<%=current_user.favorites.length%></p>
    <p><a href="/users/edit">ユーザー情報の変更</a></p>
  </div>
  <h5><%= link_to '→ お気に入りの空き家をみる',"/users/#{current_user.id}/favorites", class:'get' %></h5>
  <h5><%= link_to '→ 空き家を投稿する',new_house_path, class:'get' %> </h5>
</div>

<div class="main_contents">
  <% if current_user.houses.present? %>
  <p class="my_post_title">投稿した空き家</p>
    <% @houses.each do |house| %>
    <div class="mypost_house">
      <p><a href="/houses/<%=house.id%>"><%= house.name %></a></p>

        <div class="house_image_box">
          <% house.images.each do |image| %>
          <div class="house_image_list">
            <a href="/houses/<%=house.id%>">
            <% if image.image1.present? %>
              <img src="<%=image.image1.url %>" width="50" height="50" class="house_image">
            <% end %>
            <% if image.image2.present? %>
              <img src="<%=image.image2.url %>" width="50" height="50" class="house_image">
            <% end %>
            <% if image.image3.present? %>
              <img src="<%=image.image1.url %>" width="50" height="50" class="house_image">
            <% end %>
            </a>
          <% end %>

        </div>
        </div>
        <table class=show_house_list>
          <tr>
            <th>価格</th><th>間取り</th><th>所在地</th>
          </tr>
          <td><%= house.price %>万円</td><td><%=house.madori%></td><td><%=house.prefecture.name %><%@address=Address.find_by(house_id:house.id)%><%if @address%><%=@address.address_city%><%end%></td>
            <tr></tr>
        </table>
        <p><%= link_to '投稿を削除', "/houses/#{house.id}", method: :delete ,class:'show_user_delete'%></p>
        <p><%= link_to '投稿を編集',"/houses/#{house.id}/edit", class:'show_user_post_house' %></p>
        <p class="show_user_detail"><a href="/houses/<%=house.id%>">詳細</a></p>
    </div>
    <% end %>
    <%= paginate @houses %>
    <% end %>

</div>
