<div class="sidebar_contents">
  <div class="sidebar_form">

  <br>
    <%= form_for(@house,url:search_searches_path, method:'get') do |f| %>
      <%= f.label :エリアから選ぶ, class:"form_text" %>
      <%= f.select :prefecture_id, [["北海道",0],["東北エリア",1],["関東エリア",7],["中部エリア",14],["関西エリア",25],["中国エリア",32],["四国エリア",35],["九州、沖縄エリア",46]],prompt: '選択して下さい' %>
      <%= f.submit "検索" %>
    <% end %>
    <p></p><br><br>
    <%= form_for(@house,url:search_prefectures_path, method:'get') do |f| %>
      <%= f.label :都道府県から選ぶ, class:"form_text" %>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %>
      <%= f.submit "検索" %>
    <% end %>
  </div>

  <% if user_signed_in? %>
  <div class="user_info">
    <p> ユーザー情報  </p>
    <p>名前:<%=current_user.name%></p>
    <p>投稿した空き家の数:<%=current_user.houses.length%></p>
    <p>お気に入りの空き家の数:<%=current_user.favorites.length%></p>
    <p>ユーザー情報の変更</p>
  </div>
  <% end %>

</div>
<div class="main_contents">
  <div class="japan_map">
    <div class="map_back">
      <h5>エリアから探す</h5>

      <div class="hokkaido">
        <%= link_to  controller: "searches", action: "index", prefecture_id:0 do%>
          <img src="<%= asset_path("hokkaido.png")%>">
          <p>北海道</p>
        <% end %>
      </div>
      <div class="touhoku">
        <%= link_to   controller:  "searches", action: "index", prefecture_id:1 do%>
          <img src="<%= asset_path("touhoku.png")%>">
          <p>東北</p>
        <% end %>
      </div>
      <div class="kantou">
        <%= link_to   controller:  "searches", action: "index", prefecture_id:7 do%>
          <img src="<%= asset_path("kantou.png")%>">
          <p>関東</p>
        <% end %>
      </div>
      <div class="tyubu">
        <%= link_to   controller: "searches", action: "index", prefecture_id:14 do%>
          <img src="<%= asset_path("chubu.png")%>">
          <p>中部</p>
        <% end %>
      </div>
      <div class="kansai">
        <%= link_to   controller:  "searches", action: "index", prefecture_id:23 do%>
          <img src="<%= asset_path("kansai.png")%>">
          <p>関西</p>
      <% end %>
      </div>
      <div class="tyugoku">
        <%= link_to   controller:  "searches", action: "index", prefecture_id:30 do%>
          <img src="<%= asset_path("tyugoku.png")%>">
          <p>中国</p>
        <% end %>
      </div>
      <div class="shikoku">
        <%= link_to   controller:  "searches", action: "index", prefecture_id:35 do%>
          <img src="<%= asset_path("shikoku.png")%>">
          <p>四国</p>
        <% end %>
      </div>
      <div class="kyusyu_okinawa">
        <%= link_to   controller:  "searches", action: "index", prefecture_id:39 do%>
          <p class="kyusyu_text">九州</p>
          <p class="okinawa_text">沖縄</p>
          <img src="<%= asset_path("kyusyu.png")%>" class="kyusyu">
          <img src="<%= asset_path("okinawa.png")%>" class="okinawa">
        <% end %>
      </div>
    </div>
  </div>
</div>
